/* resets */
* {
    box-sizing: border-box;
}
/* global variables */
:root {
    --font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    --color-light: white;
    /* yes this color is just an extremely dark version of the IU crimson */
    --color-dark: #270000;
    --background-color: var(--color-dark);
    --text-color: var(--color-light);
    --link-color: blue;
}
/* global web styles */
body {
    cursor: url(/images/cursor.png), auto;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}
html {
    scroll-behavior: smooth;
}

h2 {
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--text-color);
}

a:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* layout */
main {
    width: 100%;
    padding: 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

/*  nav menu */

.menu {
    background-color: var(--background-color);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    /* border-bottom: 1px solid var(--color-light); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); */
}

@media (max-width: 45rem) {
    .menu {
        flex-direction: column;
    }
}

.menu li {
    list-style-type: none;
    float: left;
    display: inline;
    padding: 1rem;
}

.menu li a {
    display: block;
    text-align: center;
}

/* Table */

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
    table-layout: fixed;
}

th,td {
    border: none;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.square-box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: var(--background-color);
}

.event-description1 {
    border: none;
    text-align: center;
    vertical-align: middle;
    width: 600px;
}

.profile{
    border-radius: 50%;
    width: 150px;
}

.history-img{
    width: 85%;
    height: 85%;
}

.beinvolved{
    width: 8%;
}

.outline{
    margin-bottom: 30px;
    padding: 5px;
}

/* Title of main page */

.mainTitle{
    text-align: center;
    padding-bottom: 50px;
}

.smallerTitle{
    text-align: center;
    padding-top: 50px;
}

.clubPhoto{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* for Events page carousel */
.horizontal-scroll-container {
    overflow: auto;
    white-space: nowrap;
    border: none; 
    outline: none; 
    padding: 10px 0; 

}
.horizontal-scroll-container .horzScrollItem{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;      
    background-color: #f9f9f9; 
    text-align: center;
    min-width: 150px; 
    width: 500px;    
    height: 400px;              
    vertical-align: top;
    box-sizing: border-box; 
    overflow: hidden; 
    text-align: center;
}

.event-description2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;                      
    font-size: 13px;
    color: var(--text-color);
    margin: 30px auto;
    padding: 5px;
    text-align: center;
}

/* welcome page text */

.text {
    padding:5px;
    margin: 10px;
}